*{
    margin: -1px;
    box-sizing: border-box;
}

body{
    height: 95vh;
    background: no-repeat;
    font-family: sans-serif;
    text-align: center;
    font-size: 24px;
    display: flex;
    flex-direction: column;
   

}

header{

    padding: 2em 0 2em 0;
   background-image: url(banner.jpg);
}

.main{
    display: flex;
    flex: 1;
}
 header a{   
    justify-content: center;
    text-decoration: none;
    padding: 0em  1em 0em 1em;
    color: rgb(109, 79, 3);
    background-image: linear-gradient(to right, rgb(255, 255, 255) , rgb(247, 98, 130));
    border: solid rgb(18, 27, 18) 1px;
    border-radius: 25px;
    font-weight:700;
    font-style: BOLD;
    font-weight: bolder;
    font-family:'Times New Roman', Times, serif;
   
    
 }
 



 header a:hover
 {
    color: rgb(255, 0, 55);
 }






.left{
   background-color: aqua;
    padding: 3em  0 3em 0;
    flex:1 1 100px;
}
main{
    background-color: aqua;
    background-color: aqua; 
    padding: 3em  0 3em 0;
    flex: 5 5 150px;
    
}
.right{
    
    background-color: aqua; 
    padding: 3em  0 3em 0;
    flex:1 1 100px;

}




footer{
    
    padding: 2em 0 2em 0;
    background-image: url(foot\ banner.png);
}
footer a{   
    justify-content: center;
    text-decoration: none;
    padding: 0em  1em 0em 1em;
    color: rgb(109, 79, 3);
    background-image: linear-gradient(to right, rgb(255, 255, 255) , rgb(247, 98, 130));
    border: solid rgb(18, 27, 18) 1px;
    border-radius: 25px;
    font-weight:700;
    font-style: BOLD;
    font-weight: bolder;
    font-family:'Times New Roman', Times, serif; 
 }
 
footer a:hover
 {
    color: rgb(255, 0, 55);
 }

@media all and(max-width: 550px){
    .main{
        flex-direction: column;
    }
    main{
        padding: 5em 0 5em 0;;
    }
}